.docker/jenkins_plugins/custom_jenkin_plugins/*/*.jpi filter=lfs diff=lfs merge=lfs -text
.docker/jenkins_plugins/custom_jenkin_plugins/sdk/*/*.jpi filter=lfs diff=lfs merge=lfs -text
.docker/jenkins_plugins/custom_jenkin_plugins/*.jpi filter=lfs diff=lfs merge=lfs -text
.docker/jenkins_plugins/default_jenkin_plugins/*.jpi filter=lfs diff=lfs merge=lfs -text
.docker/jenkins_plugins/default_jenkin_plugins/themes/*/*.jpi filter=lfs diff=lfs merge=lfs -text
*.jpi filter=lfs diff=lfs merge=lfs -text
